<nav class="navbar navbar-expand-lg navbar-dark">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <a href="/" class="logo"></a>
    <% if (user) {%>
        <a href="/profile"<%= page == "profile" ? ' class="active"' : ""%>>Profile</a>
        <% if (user.isAdmin) { %>
            <a href="/admin" class="<%= page == "admin" ? "active" : ""%>">Admin panel</a>
        <% } %>
    <% } %>
    <% if (user) {%>
        <a href="/signout" class="right <%= page == "signout" ? "active" : ""%>">Sign out</a>
    <% } else { %>
        <a href="/signin" class="right <%= page == "signin" ? "active" : ""%>">Sign in</a>
        <a href="/signup"<%= page == "signup" ? ' class="active"' : ""%>>Sign up</a>
    <% } %>
</nav>
